.card {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.15);
  max-width: 780px;
  width: 90%;
  padding: 50px;
  margin: 20px auto;
  transition: transform 0.3s ease;
}
.card .header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

.card .header img {
  width: 35px;
  height: 35px;
}

.card .header h2 {
  margin: 0;
  font-size: 30px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.repo-list {
  margin-top: 30px;
  text-align: center;
}

.repo-item {
  padding: 12px 0;
  border-bottom: 1px solid rgba(255, 255, 255);
  display: block;
  width: 100%;
  text-align: left;
  font-size: 22px;
}

.repo-name {
  font-size: 30px;
  color: rgb(3, 102, 214);
  font-weight: 500;
  display: inline-block;
  margin-bottom: 5px;
}
.repo-visibility {
  display: inline-flex;
  align-items: center; 
  justify-content: center; 
  margin-left: 5px;
  padding: 10px 20px;
  margin-bottom: 5px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
}

.repo-visibility.public {
  background-color: rgb(230, 247, 230); 
  color: rgb(44, 151, 75);
  border: 1px solid rgb(44, 151, 75);
}

.repo-visibility.private {
  background-color: rgb(255, 235, 235); 
  color: rgb(203, 36, 49);
  border: 1px solid rgb(203, 36, 49);
}

.repo-visibility.archived {
  background-color: rgb(255, 248, 231);
  color: rgb(154, 103, 0);
  border: 1px solid rgb(154, 103, 0);
}

.repo-meta {
  display: flex;
  gap: 15px;
  font-size: 18px;
  color: rgb(88, 96, 105);
}

.repo-language {
  font-size: 22px;
  display: flex;
  align-items: center;
}

.repo-language::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
  background-color: var(--lang-color);
}

.repo-stars {
  font-size: 25px;
  display: flex;
  align-items: center;
}

.repo-pushed {
  display: flex;
  align-items: center;
  font-size: 22px;
}
