{{extend gitLayout}} {{block 'css'}}
<link
  href="{{_res_path}}/commit/css/get_commit_info.css"
  rel="stylesheet"
  type="text/css"
/>
{{/block}} {{block 'main'}}

<div class="card">
  <div class="header">
    {{if type === 'github'}}
    <h2>GitHub 提交信息</h2>
    {{else if type === 'gitee'}}
    <h2>Gitee 提交信息</h2>
    {{else if type === 'gitcode'}}
    <h2>GitCode 提交信息</h2>
    {{else}}
    <h2>GitHub 提交信息</h2>
    {{/if}}
  </div>

  <div class="info-section">
    <div class="commit-card">
      <div class="repo-header">
        <div class="platform-icon">
          {{if type === 'github'}}
          <img
            src="{{_res_path}}/common/images/icon/Github.svg"
            alt="GitHub Logo"
          />
          {{else if type === 'gitee'}}
          <img
            src="{{_res_path}}/common/images/icon/Gitee.svg"
            alt="Gitee Logo"
          />
          {{else if type === 'gitcode'}}
          <img
            src="{{_res_path}}/common/images/icon/Gitcode.svg"
            alt="Gitcode Logo"
          />
          {{else}}
          <img
            src="{{_res_path}}/common/images/icon/Github.svg"
            alt="GitHub Logo"
          />
          {{/if}}
        </div>
        <div class="repo-info">
          <div class="repo-name">
            {{owner}}/{{repo}}
            <span class="repo-visibility {{visibility === 'private' ? 'private' : 'public'}}">
              {{visibility === 'private' ? '私有' : '公开'}}
            </span>
          </div>
          <div class="branch-info">
            <div class="branch-icon">
              <img
                src="{{_res_path}}/common/images/icon/branch.svg"
                alt="Branch Logo"
              />
            </div>
            <div class="branch-name">{{branch}}</div>
          </div>
        </div>
      </div>

        <div class="author-info">
          <div class="author-avatar">
            <img src="{{ author_avatar }}" alt="Author Avatar" />
          </div>
          <span>{{ author_name }}</span>
          <span class="time-info">•&nbsp;提交于&ensp;{{ commit_date }} </span>
        </div>
      </div>

      <div class="commit-message">
        <div class="commit-title">
          <div class="commit-icon">
            <img
              src="{{_res_path}}/common/images/icon/commit.svg"
              alt="Commit Icon"
            />
          </div>
          <span>{{ commit_title }}</span>
          <div class="code-changes">
            <span class="changes-added">+{{ commit_additions }}</span>
            <span class="changes-deleted">-{{ commit_deletions }}</span>
            <span class="changes-divider">•</span>
            <span>{{ commit_files_total }} 个文件被更改</span>
            <span class="changes-divider">•</span>
            <span class="commit-hash">{{ sha }}</span>
          </div>
        </div>
        <div class="commit-divider"></div>
        {{if commit_body}}
        <div class="commit-content">{{@commit_body}}</div>
        {{/if}}
      </div>
    </div>
  </div>

{{/block}}
