{{extend gitLayout}} {{block 'css'}}
<link
  href="{{_res_path}}/commit/css/get_commit_info.css"
  rel="stylesheet"
  type="text/css"
/>
{{/block}} {{block 'main'}}

<div class="card">
  <div class="header">
    {{if platform === 'github'}}
    <h2>GitHub {{ title }}</h2>
    {{else if platform === 'gitee'}}
    <h2>Gitee {{ title }}</h2>
    {{else if platform === 'gitcode'}}
    <h2>GitCode {{ title }}</h2>
    {{else}}
    <h2>GitHub {{ title }}</h2>
    {{/if}}
  </div>

  <div class="info-section">
    {{each commits commit}}
    <div class="commit-card">
      <div class="repo-header">
        <div class="platform-icon">
          {{if platform === 'github'}}
          <img
            src="{{_res_path}}/common/images/icon/Github.svg"
            alt="GitHub Logo"
          />
          {{else if platform === 'gitee'}}
          <img
            src="{{_res_path}}/common/images/icon/Gitee.svg"
            alt="Gitee Logo"
          />
          {{else if platform === 'gitcode'}}
          <img
            src="{{_res_path}}/common/images/icon/Gitcode.svg"
            alt="Gitcode Logo"
          />
          {{else}}
          <img
            src="{{_res_path}}/common/images/icon/Github.svg"
            alt="GitHub Logo"
          />
          {{/if}}
        </div>
        <div class="repo-info">
          <div class="repo-name">
            {{commit.owner}}/{{commit.repo}}
            <span class="repo-visibility {{commit.visibility === 'private' ? 'private' : 'public'}}">
              {{commit.visibility === 'private' ? '私有' : '公开'}}
            </span>
          </div>
          <div class="branch-info">
            <div class="branch-icon">
              <img
                src="{{_res_path}}/common/images/icon/branch.svg"
                alt="Branch Logo"
              />
            </div>
            <div class="branch-name">{{commit.branch}}</div>
          </div>
        </div>
      </div>

      <div class="author-info">
        <div class="author-avatar">
          <img src="{{ commit.author_avatar }}" alt="Author Avatar" />
        </div>
        <span>{{ commit.author_name }}</span>
        <span class="time-info">•&nbsp;提交于&ensp;{{ commit.commit_date }} </span>
      </div>

      <div class="commit-message">
        <div class="commit-title">
          <div class="commit-icon">
            <img
              src="{{_res_path}}/common/images/icon/commit.svg"
              alt="Commit Icon"
            />
          </div>
          <span>{{ commit.commit_title }}</span>
          <div class="code-changes">
            <span class="changes-added">+{{ commit.commit_additions }}</span>
            <span class="changes-deleted">-{{ commit.commit_deletions }}</span>
            <span class="changes-divider">•</span>
            <span>{{ commit.commit_files_total }} 个文件被更改</span>
            <span class="changes-divider">•</span>
            <span class="commit-hash">{{ commit.sha }}</span>
          </div>
        </div>
        <div class="commit-divider"></div>
        {{if commit.commit_body}}
        <div class="commit-content">{{@commit.commit_body}}</div>
        {{/if}}
      </div>
    </div>
    {{/each}}
  </div>
</div>

{{/block}}
